/* Tag selector to select the 'body' element */
body {
  /* Your code here! */
  background-color: #00b3e6;
}

/* Tag selector to select all 'div' elements. We only have one 'div' in our HTML */
div {
  /* Your code here! */
  width: 700px;
  background-color: white;
  padding: 30px; /* You can set the padding property to 30px to add some space around the element. This will add 30px of space on all four sides of the element. */
  margin: auto; /*You can set the margin property to auto to horizontally center the element within its container. The element will then take up the specified width, and the remaining space will be split equally between the left and right margins.*/
  font-family: Helvetica Neue;
}


/* ID selector to select the element with id 'main-header' */
#main-header {
  /* Your code here! */
  color: red;
  font-size: 22px;
}

/* Class selector to select elements containing the class 'perspective-questions' */
.perspective-questions {
  /* Your code here! */
  font-style: italic;
}
